<% provide(:title, 'Listing Orders') %>
<h1>Listing Orders</h1>

<table id="orders" class="display" data-source="<%= orders_url(format: "json") %>">
<thead>
  <tr>
    <th>UUID</th>
    <th>Total</th>
    <th>Date</th>
    <th>Done</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
</tbody>
</table>