<% provide(:title, 'Create new place') %>
<h1>Create new place</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@place) do |f| %>
			<%=  render 'fields', f: f %>
		    <%= f.submit "Create new place", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>