<footer class="footer">
	<small>
		<a href="http://www.w3.org/html/logo/">
			<img src="http://www.w3.org/html/logo/downloads/HTML5_Badge_32.png" title="HTML5 Powered">
		</a>
		<a href="http://www.w3.org/WAI/WCAG2AAA-Conformance">
			<img src="http://www.w3.org/WAI/wcag2AAA.png" title="Level Triple-A conformance, W3C WAI Web Content Accessibility Guidelines 2.0">
		</a>
		<a href="http://www.w3.org/2001/sw/wiki/RDF">
			<img src="http://www.w3.org/Icons/SW/Buttons/sw-rdf-magenta.png" title="W3C Semantic Web Logo">
		</a>
		<% if current_user %>
			Sign in as <%= current_user.email %>
		<% end %>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", '#' %></li>
			<li><%= link_to "Contact", '#' %></li>
			<li><%= link_to "News", '#' %></li>
		</ul>
	</nav>
</footer>